@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Poppins',' sans-serif';

}
a{
    text-decoration: none;
    color: rgb(122, 122, 122);
}
.container{
    /* background-color: #878787; */
    justify-content: center;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 28%;
        border: .5px solid rgb(215, 215, 215);
    border-radius: 5px;
    box-shadow: 0 0 15px 8px rgb(123, 123, 123);
}

.phase1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Poppins',' sans-serif';

}

.review{
    font-size: 1.8rem;
} 
.date{
    font-family: 'Poppins',' sans-serif';
    font-size: 12px;
    padding: 8px 15px;
    border: .5px solid rgb(215, 215, 215);
    border-radius: 4px;
}
.phase2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Poppins',' sans-serif';
    column-gap: 5px;

}
.box{
    /* background-color: aqua; */
    /* padding-left: 10px; */
    padding: .8rem;
    font-size: small;
    font-family: 'Poppins',' sans-serif';

}
.line{
    background-color: rgb(211, 211, 211);
    margin-left: 30px;
    width: 90%;
    height: 2px;
}
.desc{
    color:  rgb(138, 138, 138);
}
.heading{
    font-size: 1rem;
    
}
.num {
    font-size:x-large;
    padding-top: 20px;
    line-height: 20px;
}
.rating{
    display: flex;
}
.rating h3{
    font-size:x-large;
    padding-top: 20px;
    line-height: 20px;
}
.itag{
    padding-left:12px;
    padding-top: 20px;
    color: gold;
}

.box{
    /* border: 1px solid  rgb(209, 209, 209); */
}

.phase3{
    display: flex;
    padding: 13px;
}

.image img{
    border-radius: 5px;
}

.detail{
    padding-left: 13px;

}
.name{
    font-size: medium;
    font-weight: bolder;
}

.ts{
    font-size: small;
    color: rgb(122, 122, 122);
}
.tr{
    font-size: small;
    color: rgb(122, 122, 122);
}

.description{
    padding-left: 12px;
    width: 350px;
    /* justify-content: center; */
    /* background-color: red; */
}
.rating_tag{
    display: flex;
    align-items: center;
}
.rating_tag i {
    font-size: small;
    color: gold;
}
.rating_tag p{
    font-size: .8rem;
    margin-left: 8px;
    color: rgb(122, 122, 122);
    /* margin-bottom: 10px; */
}
.content{
    font-size:small ;
    margin-left: 23px;
    color: rgb(122, 122, 122);

}


.comment{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-left: 10px;
}
.cm{
    border: .5px solid rgb(167, 167, 167);
    border-radius: 5px;
    font-size: small;
    color: rgb(71, 71, 71);
    padding: 8px;
    
    
}

.heartIcon i{
    color: rgb(68, 68, 255);
    font-size: large;
    padding: 0 10px;
    transition: all .5s;

}
.rating_tag{
    padding-left: 23px;
}

.heartIcon i:hover{
    cursor: pointer;
    color: red;
}

